<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="conf/datasource.properties">
        <!-- 这里也可以定义属性 -->
    </properties>

    <typeAliases>
        <typeAlias alias="VendorMoType" type="pri.zhuby.studyschool.mybatis.pojo.VendorMOTypePojo" ></typeAlias>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>

        <!-- 如果有多套环境，可以在这里配置。比如一套开发环境，一套测试环境 -->
        <environment id="test_environment">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${test.url}"/>       <!-- 测试环境的URL -->
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="conf/mapper/VendorMotypeMapper.xml"/>
    </mappers>
</configuration>