<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <typeAlias alias="VendorMoType" type="pri.zhuby.studyschool.mybatis.pojo.VendorMOTypePojo" ></typeAlias>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="oracle.jdbc.OracleDriver"/>
                <property name="url" value="jdbc:oracle:thin:@//10.110.2.103:1522/acrosspm"/>
                <property name="username" value="pm4h_ad"/>
                <property name="password" value="ACROSS_ad_2013"/>
            </dataSource>
        </environment>

        <!-- 如果有多套环境，可以在这里配置。比如一套开发环境，一套测试环境 -->
        <environment id="test_environment">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="oracle.jdbc.OracleDriver"/>
                <property name="url" value="jdbc:oracle:thin:@//10.110.2.104:1522/acrosspm"/>       <!-- 测试环境的URL -->
                <property name="username" value="pm4h_ad"/>
                <property name="password" value="ACROSS_ad_2013"/>
            </dataSource>
        </environment>

    </environments>

    <mappers>
        <!-- 告诉mybatis去哪里找配置的SQL -->
        <mapper resource="conf/mapper/VendorMotypeMapper.xml"/>
        <!-- mapper class="pri.zhuby.studyschool.mybatis.dao.mapper.VendorMOTypeMapper" / -->
    </mappers>





</configuration>